.w{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.nav_hd li{
    float: left;
    margin: 0 25px;
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-weight: 700;
}
.nav{
    overflow: hidden;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3a2xdr');
    src:  url('../fonts/icomoon.eot?3a2xdr#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3a2xdr') format('truetype'),
      url('../fonts/icomoon.woff?3a2xdr') format('woff'),
      url('../fonts/icomoon.svg?3a2xdr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  i{
      font-family: 'icomoon';
  }
  .nav_bd li{
      float: left;
      
      margin: 0 15px;
      margin-top: 20px;
      line-height: 24px;
  }
  .nav_bd .current{
      color: red;
  }
  .line{
      height: 2px;
      width: 100%;
      background-color: red;
  }
  /* container start */
  .goods{
      width: 288px;
      height: 458px;
      border: 1px solid transparent ;
      position: relative;
  }
  .goods:hover{
      border: 1px solid #b1191a;
  }
  .container_bd{
      margin-top: 25px;
  }
  .goods img{
      margin-left: 5px;
  }
  .goods_title{
      font-size: 14px;
      color: #666;
      font-weight: 400;
    margin: 0 10px 0 10px;
  }
  .goods_price{
    margin: 8px 10px 0 10px;
  }
  .goods_price em{
      color: #e60012;
      font-size: 20px;
  }
  .goods_price del{
      font-size: 14px;
      font-weight: 700;
      margin-left: 4px;
      color: #a4a4a4;
  }
  .goods_progress{
      padding: 0 10px;
  }
  .bar{
      width: 130px;
      height: 10px;
      border: 1px solid #b1191a;
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      border-radius: 5px;
  }
  .bar_in{
      height: 10px;
      background-color: #f24349;
      width: 87%;
  }
  .goods_progress span,
  .goods_progress em{
      color: #f24349;
  }
  .goods_buy a{

      height: 50px;
      background-color: #b1191a;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      color: #fff;
      position: absolute;
      bottom: 0;
      width: 288px;
  }
  .goods{
      float: left;
      margin-right: 12px;
      margin-bottom: 15px;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .container_bd ul{
      width: 1300px;
  }
  .page{
      text-align: center;
      margin: 40px 0;
  }
  .page_num a{
      width: 36px;
      height: 36px;
      border: 1px solid #ccc;
      background-color: #f7f7f7;
      display: inline-block;
      line-height: 36px;
  }
  .page_num a:last-child,
  .page_num a:first-child{
      width: 85px;
  }
  .page_num .current,
  .page_num .dotted{
      border: 1px solid transparent;
      background-color: transparent;
  }
  .page_skip input{
      width: 36px;
      height: 36px;
      border: 1px solid #ccc;
      text-align: center;
      transition: all 2s ease;
  }
  .page_skip button{
      width: 54px;
      height: 36px;
      border: 1px solid #ccc;
      background-color: #f7f7f7;
  }
  .page_skip{
      margin-left: 10px;
  }
  .page_skip input:focus{
      width: 56px;
      background-color: skyblue;
  }
  input{
      outline: none;
  }
  /* container end */